<div class="tag-post-card">
            <div class="post-card-byline-tag zero-out">
                    {{tags limit="1"}}
            </div>

            <header class="post-card-header zero-out">
                <a href="{{url}}">
                    <h2 class="post-card-title">{{title}}</h2>
                </a>
            </header>

            <div class="post-card-byline-content zero-out">               
                <span class="post-card-byline-date"><time
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                </span>
            </div>
</div>
        