<div class="latest-post-card">
    <div class="post-card-byline-tag zero-out">
        {{#get "tags" limit="1"}}
        {{tags}}
        {{/get}}
    </div>

    <a href="{{url}}">
        <h2 class="post-card-title">{{title}}</h2>
    </a>

    {{#has author="count:>1"}} 
    <h5 class="author-name">Multiple Authors</h5>
    {{else}}
    <div class="author-name">
        {{authors}}
    </div>
    {{/has}}
    
</div>