<div class="latest-post-card">
    <div class="post-card-byline-tag">
        {{primary_tag}}
    </div>

    
    <h2>
        <a href="{{url}}" class="post-card-title">{{title}}</a>
    </h2>

    {{#has author="count:>1"}} 
    <a class="author-name">Multiple Authors</a>
    {{else}}
    {{authors}}
    {{/has}}
    
</div>