<a class="latest-post-card" href="{{url}}">

            <header class="post-card-header">
                <h2 class="post-card-title">{{title}}</h2>
            </header>

            <div class="post-card-byline-content">
                <span class="post-card-byline-tag">
                    {{#if primary_tag}}
                    <p>~ 
                        <a href="{{@site.url}}/tag/{{primary_tag.name}}/">
                            {{primary_tag.name}}
                        </a>
                    </p>
                    {{/if}}
                </span>
                
                <span>
                    {{#has author="count:>2"}} <h5>Multiple authors</h5>
                    {{else}}{{authors}}{{/has}}
                </span>
                
                <span class="post-card-byline-date"><time
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                </span>
                
            </div>

        </a>