<div class="latest-post-card">
    <div class="post-card-byline-tag">
        {{tags limit="1"}}
    </div>


    <h2 class="latest-post-title">
        <a href="{{url}}" class="post-card-title">{{title}}</a>
    </h2>

    {{#has author="count:>1"}}
    {{!--leave as a tag for color match --}}
    <a class="author-name">Multiple Authors</a>
    {{else}}
    <span class="author-name">{{authors}}</span>
    {{/has}}

</div>