<a class="latest-post-card" href="{{url}}">
            <div class="post-card-byline-tag">
                    {{#if primary_tag}}
                    <p>~ 
                        <a href="{{@site.url}}/tag/{{primary_tag.name}}/">
                            {{primary_tag.name}}
                        </a>
                    </p>
                    {{/if}}
            </div>

            <header class="post-card-header">
                <h2 class="post-card-title">{{title}}</h2>
            </header>

            <div class="post-card-byline-content">
                <span>
                    {{authors}}
                </span>               
                {{!-- <span class="post-card-byline-date"><time
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                </span> --}}
            </div>

        </a>