<div class="other-post zero-out">
    <div class="post-card-image zero-out">
        {{#if feature_image}}
        <a class="post-card-image-link" href="{{url}}">
            <img class="post-card-image" srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 1000px) 400px, 700px"
                src="{{img_url feature_image size="m"}}" alt="{{title}}" />
        </a>
        {{!-- {{else}}
        this is where dummy pic goes
        {{/else}} --}}
        {{/if}}
    </div>

    <div class="other-post-content">
        <div class="other-post-tag">
            {{tags limit="1"}}
        </div>

        
        <h2 class="post-card-title">
            <a href="{{url}}">{{title}}</a>
        </h2>
        

        <div class="other-post-byline">
            {{#has author="count:>1"}} 
            <h5>Multiple Authors</h5>
            {{else}}
            {{authors}}
            {{/has}}

            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM"}}</time>
        </div>

        <p>{{excerpt}}</p>
    </div>

</div>