<div class="latest-post-card">
            <div class="post-card-byline-tag lpc">
                    {{#get "tags" limit="all"}}
                    {{tags from="2" limit="3" seperator=" &bull; "}}
                    {{/get}}
            </div>

            <header class="post-card-header lpc">
                <a href="{{url}}">
                    <h2 class="post-card-title">{{title}}</h2>
                </a>
            </header>

            <div class="post-card-byline-content lpc">
                <span>
                    {{authors}}
                </span>               
                <span class="post-card-byline-date"><time
                        datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                </span>
            </div>
</div>
        